.contacts, .resume {
    padding: 50px 0;
    background-color: #f9f3f1;
  }
  
  .container {
    max-width: 700px;
    margin: 0 auto;
  }

  .container form button {
    background-color: rgb(180, 74, 180);
    color: white;
    align-items: center;
  }
  
  h2 {
    font-size: 30px;
    margin-bottom: 10px;
    text-align: center;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
  }
  
  .full-width {
    width: 100%;
  }

  .icon-download {
    width: 70px; 
    height: auto;
    cursor: pointer;
    display: block; 
    margin: 0 auto;
    animation: moveUpDown 2s infinite ease-in-out;
  }

  @keyframes moveUpDown {
    0% {
      transform: translateY(0); 
    }
    50% {
      transform: translateY(-10px); 
    }
    100% {
      transform: translateY(0); 
    }
  }

  #description {
    font-size: 20px;
    margin-bottom: 60px;
    text-align: center;
    color: #555;
  }

  .button-container {
    display: flex;
    justify-content: center; 
  }
  
  mat-form-field {
    margin-bottom: 20px;
  }

@media (max-width: 768px) {
  .container {
    max-width: 400px;
    margin: 0 auto;
  }

  #description {
    font-size: 15px;
    margin-bottom: 60px;
    color: #555;
    text-align: center;
  }

  .full-width {
    width: 100%;
  }

  h2 {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
  }
}

.confirmation-message {
  color: #555;
  display: flex;
  justify-content: center; 
  font-size: 15px;
  margin-top: 15px;
}