<section id="about" class="about">
    <h2>ABOUT ME</h2>
    <p id="description">Here you will find more information about me, what I do, and my current skills mostly in terms of programming and technology</p>
    <div class="about-content">
        <div class="component">
          <div class="component-header">
            <h3>Frontend</h3>
          </div>
          <div class="component-body">
            <p>I transform concepts into intuitive interfaces. My credo is to fuse beauty and functionality for memorable user experiences. But that's not all! 🎨 I'm also very interested in UX/UI design, which I'm learning in my spare time.</p>
          </div>
        </div>
    
        <div class="component">
          <div class="component-header">
            <h3>Backend</h3>
          </div>
          <div class="component-body">
            <p>The backend is my favorite part of fullstack development. I have an unbridled passion for everything that goes on behind the scenes of an application. My playground? RESTful APIs, scalability and application security.
              But there's more! 🌟 I'm a fan of good development practices, microservices architectures, and deployment automation.</p>
          </div>
        </div>
    
        <div class="component">
          <div class="component-header">
            <h3>Other</h3>
          </div>
          <div class="component-body">
            <p>Outside the code, you'll probably find me devouring a mystery novel, playing Scrabble or traveling. I also enjoy spending time with family and friends.</p>
          </div>
        </div>
      </div>
</section>

<section id="skills" class="skills">
  <h2>MY SKILLS</h2>
  <p id="description">Here is a comprehensive overview of my skills, showcasing my expertise and proficiency in various domains.</p>
  <div class="skills-container">
    <div class="skill">
      <img src="java.png" alt="Java">
      <p class="skill-title">Java</p>
    </div>
    <div class="skill">
      <img src="C.png" alt="C#">
      <p class="skill-title">C#</p>
    </div>
    <div class="skill">
      <img src="C++.png" alt="C++">
      <p class="skill-title">C++</p>
    </div>
    <div class="skill">
      <img src="azure.png" alt="Ms Azure">
      <p class="skill-title">Ms Azure</p>
    </div>
    <div class="skill">
      <img src="express.png" alt="Express JS">
      <p class="skill-title">Express JS</p>
    </div>
    <div class="skill">
      <img src="git.png" alt="Git">
      <p class="skill-title">Git</p>
    </div>
    <div class="skill">
      <img src="docker.png" alt="Docker">
      <p class="skill-title">Docker</p>
    </div>
    <div class="skill">
      <img src="postgre.png" alt="Postgre">
      <p class="skill-title">Postgre</p>
    </div>
    <div class="skill">
      <img src="mysql.png" alt="MySql">
      <p class="skill-title">MySQL</p>
    </div>
    <div class="skill">
      <img src="Angular.png" alt="Angular">
      <p class="skill-title">Angular</p>
    </div>
    <div class="skill">
      <img src="Typescript.png" alt="Typescript">
      <p class="skill-title">Typescript</p>
    </div>
    <div class="skill">
      <img src="javascript.png" alt="Javascript">
      <p class="skill-title">Javascript</p>
    </div>
    <div class="skill">
      <img src="html.png" alt="HTML5">
      <p class="skill-title">HTML5</p>
    </div>
    <div class="skill">
      <img src="css.png" alt="CSS3">
      <p class="skill-title">CSS3</p>
    </div>
    <div class="skill">
      <img src="wix.png" alt="WIX">
      <p class="skill-title">WIX</p>
    </div>
    <div class="skill">
      <img src="postman.png" alt="Postman">
      <p class="skill-title">Postman</p>
    </div>
  </div>
</section>

<section class="Reading">
  <h2>READING & INTEREST</h2>
  <p id="description">Here is a glimpse into my reading preferences and interests, showcasing what inspires and motivates me.</p>
  <div class="reading-container">
      <div class="text-div">
        <h3 class="text-title">What a computer outage can cause ✈️</h3>
        <div class="reading-body">
          <p>Thousands of flights have been canceled after a worldwide internet outage hit many leading airlines.</p>
        </div>
        <div class="reading-footer">
          <span></span>
          <a href="https://www.cnn.com/2024/07/19/business/delta-american-airlines-flights-outage-intl-hnk/index.html">Read more ➔</a>
        </div>
      </div>
      <div class="text-div">
        <h3 class="text-title">Microservice architecture vs modular architecture 🔧</h3>
        <div class="reading-body">
          <p>This article helped me to know the real difference between microservice architecture and modular architecture.</p>
        </div>
        <div class="reading-footer">
          <span></span>
          <a href="https://www.developer-tech.com/news/microservice-architecture-vs-modular-architecture/">Read more ➔</a>
        </div>
      </div>
      <div class="text-div">
        <h3 class="text-title">AWS Training and Certification ☁️</h3>
        <div class="reading-body">
          <p>I've recently been curious to discover the world of the cloud. So I started documenting myself and took an AWS certification, which helped me improve my cloud skills. </p>
        </div>
        <div class="reading-footer">
          <span></span>
          <a href="https://aws.amazon.com/training/?nc2=sb_tc">Read more ➔</a>
        </div>
      </div>
      <div class="text-div">
        <h3 class="text-title">Getting started with Express JS 🚀</h3>
        <div class="reading-body">
          <p>In this article, I discovered and learned how to use the popular express js framework. Click on the link below to find out more</p>
        </div>
        <div class="reading-footer">
          <span></span>
          <a href="https://developer.mozilla.org/en-US/docs/Learn/Server-side/Express_Nodejs/Introduction">Read more ➔</a>
        </div>
      </div>
      <div class="text-div">
        <h3 class="text-title">Tips for getting your dream job 📝</h3>
        <div class="reading-body">
          <p>As a young developer looking for a job. I found this LinkedIn post very interesting. What do you think of it?</p>
        </div>
        <div class="reading-footer">
          <span></span>
          <a href="https://www.linkedin.com/posts/hugocolusso_si-tu-postules-comme-tout-le-monde-tu-auras-activity-7222509289003782144-zLNz?utm_source=share&utm_medium=member_desktop">Read more ➔</a>
        </div>
      </div>
      <div class="text-div">
        <h3 class="text-title">The danger of endocrine disruptors 🌿</h3>
        <div class="reading-body">
          <p>Did you know that most dangerous pathologies, such as cancer and infertility, are caused by endocrine disruptors? One of my current battles is to watch out for endocrine disruptors.</p>
        </div>
        <div class="reading-footer">
          <span></span>
          <a href="https://www.cancer-environnement.fr/fiches/expositions-environnementales/perturbateurs-endocriniens/">Read more ➔</a>
        </div>
      </div>
  </div>
</section>


