<section id="projects" class="projects">
    <div class="main-container">
        <h2>PROJECTS</h2>
        <p id="description">Here you will find some of the personal and clients projects that I created with each project containing its own case study.</p>
        <div class="projects__row">
            <div class="projects__row-img-cont">
                <img
                    src="computer.jpeg"
                    alt="Software Screenshot"
                    class="projects__row-img"
                    loading="lazy"
                />
                <div class="image-container">
                    <img src="flower.jpg" alt="Inserted Image" class="inserted-image">
                  </div>
            </div>

            <div class="projects__row-content">
                <h3 class="projects__row-content-title">Project 1</h3>
                <p class="projects__row-content-desc">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic
                    facilis tempora, explicabo quae quod deserunt eius sapiente
                    praesentium.
                </p>
                <div class="button-row">
                    <button mat-raised-button>
                        <a href="https://www.github.com" target="_blank">
                            Code
                        </a>
                    </button>
                </div>
            </div>
        </div>

        <div class="projects__row">
            <div class="projects__row-img-cont">
                <img
                    src="computer.jpeg"
                    alt="Software Screenshot"
                    class="projects__row-img"
                    loading="lazy"
                />
                <div class="image-container">
                    <img src="red.jpg" alt="Inserted Image" class="inserted-image">
                  </div>
            </div>
            <div class="projects__row-content">
                <h3 class="projects__row-content-title">Project 2</h3>
                <p class="projects__row-content-desc">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic
                    facilis tempora, explicabo quae quod deserunt eius sapiente
                    praesentium.
                </p>
                <div class="button-row">
                    <button mat-raised-button>
                        <a href="https://www.github.com" target="_blank">
                            Code
                        </a>
                    </button>
                </div>
            </div>
        </div>

        <div class="projects__row">
            <div class="projects__row-img-cont">
                <img
                    src="computer.jpeg"
                    alt="Software Screenshot"
                    class="projects__row-img"
                    loading="lazy"
                />
                <div class="image-container">
                    <img src="fleur.jpg" alt="Inserted Image" class="inserted-image">
                  </div>
            </div>
            <div class="projects__row-content">
                <h3 class="projects__row-content-title">Project 3</h3>
                <p class="projects__row-content-desc">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic
                    facilis tempora, explicabo quae quod deserunt eius sapiente
                    praesentium.
                </p>
                <div class="button-row">
                    <button mat-raised-button>
                        <a href="https://www.github.com" target="_blank">
                            Code
                        </a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>


